---
layout: ~
permalink: "/{{ page.filePathStem }}"
# see https://github.com/jekyll/jekyll-feed/blob/master/lib/jekyll-feed/feed.xml
---
{%- include _init.html -%}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
	<title>{{ site.data.blog.title | xml_escape }}</title>
	<link href="{{ site.data.blog.url }}/"/>
	<link href="{{ site.data.blog.url }}/atom.xml" rel="self" type="application/atom+xml"/>
	<link href="{{ site.data.blog.url }}/rss.xml" rel="self" type="application/atom+rss"/>
	<link href="{{ base }}/blog" rel="alternate" type="text/html" hreflang="en"/>
	<updated>{{ 'now' | date_to_xmlschema }}</updated>
	<id>{{ site.data.blog.url }}/</id>
	<author>
		<name>{{ site.data.blog.author.name | strip_html | xml_escape }}</name>
		<uri>{{ site.data.blog.author.url | xml_escape }}</uri>
	</author>

	{%- for post in collections.posts limit: 20 %}
	<entry>
		<title type="html">{{ post.data.title | xml_escape }}</title>
		<link href="{{ site.data.blog.url }}{{ post.data.page_url }}"/>
		<updated>{{ post.date | date_to_xmlschema }}</updated>
		<id>{{ site.data.blog.url }}{{ post.data.page_url }}</id>
		<content type="html">{{ post.content | xml_escape }}</content>
		<summary type="html">{{ post.content | excerpt | xml_escape }}</summary>
	</entry>
	{%- endfor %}
</feed>
